body{
    background-color: blue;
}
.styles{
    color: white;
    font-size: 20px;
    text-align: center;
}
#yahoo{
    color: red;
    font-size: 30px;
    text-align: center;
}
div{
    color: green;
    font-size: 25px;
    background-color: yellow;
    padding: 90px;
    border-radius: 5px;
    text-align: center;
}
.firsth1{
    color: orange;
    font-size: 40px;
    text-align: center;
}
.secondh1{
    color: purple;
    font-size: 35px;
    text-align: center;
}